//  http://www.materialpalette.com/light-green/deep-orange
//http://www.materialpalette.com/amber/light-green
/*$darkPrimaryColor:   #689F38 !default;
$primaryColor:       #8BC34A !default;
$lightPrimaryColor:  #DCEDC8 !default;
$textPrimaryColor:   #212121 !default;
$accentColor:        #FF5722 !default;
$primaryTextColor:   #212121 !default;
$secondaryTextColor: #727272 !default;
$dividerColor:       #B6B6B6 !default;*/
$darkPrimaryColor:  #FFA000 !default;
$primaryColor:        #FFC107 !default;
$lightPrimaryColor:  #FFECB3 !default;
$textPrimaryColor:   #212121 !default;
$accentColor:         #8BC34A !default;
$primaryTextColor:   #212121 !default;
$secondaryTextColor: #727272 !default;
$dividerColor:        #B6B6B6 !default;

// bootstrap
$body-bg:              #FAFAFA !default;
$text-color:            $textPrimaryColor !default;
$navbar-default-bg:                $darkPrimaryColor !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #fff !default;
$navbar-default-link-hover-color:          $lightPrimaryColor !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $lightPrimaryColor !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

$jumbotron-bg: $lightPrimaryColor !default;

$icon-font-path: "../fonts/" !default;
$fa-font-path:   "../fonts" !default;  



